table {
    border-collapse: collapse;
    margin: 0.5rem auto 0.75rem auto;
}

tr, th, td {
    padding: 0.5rem 1rem;
}

th {
    border-bottom: solid 1px black;
}

tr:not(:last-child) {
    border-bottom: solid 1px #cccccc;
}
